In [1]:
import pandas as pd
data = {'first Name': ['aryan', 'rohan', 'siddhanth', 'yash'],
        'last name': ['singh','agarwal','khanna','bhatia'],
       'type': ['full-time employee','insane','full-time employee','part-time employee'],
       'department': ['administration','technical','management','technical'],
       'YoE': [2,3,6,7],
       'salary':[20000,5000,20000,10000]}
df = pd.DataFrame(data)
print(df)

  first Name last name                type      department  YoE  salary
0      aryan     singh  full-time employee  administration    2   20000
1      rohan   agarwal              insane       technical    3    5000
2  siddhanth    khanna  full-time employee      management    6   20000
3       yash    bhatia  part-time employee       technical    7   10000

In [6]:
table=pd.pivot_table(df,index=['type','department'],values='salary',aggfunc='mean')
table

                                   salary
type               department
full-time employee administration   20000
                   management       20000
insane             technical         5000
part-time employee technical        10000

In [7]:
pivot=pd.pivot_table(
    data=df,
    index='type',
    values='salary',
    aggfunc=['mean','sum'])
print(pivot)

                     mean    sum
                   salary salary
type
full-time employee  20000  40000
insane               5000   5000
part-time employee  10000  10000